doctype html
html
    head
        link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css", rel="stylesheet")
        link(rel='stylesheet' href='/css/style.css')
        link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:300,300i,700')
        title  |#{siteName}
    body
        include _header

        main
            block content
        
        include _footer