doctype html
html
    head
        link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css", rel="stylesheet")
        link(rel='stylesheet' href='/static/main.css')
        title #{pageTitle} | #{siteName}
    body
        include _header

        main
            block content
        
        include _footer
        script(src="/static/main.js")