extends layouts/base

block content
    .form-container
        input(typr='text', name='currentPassword', placeholder='Current Password')
        input(typr='text', name='newPassword', placeholder='New Password')
        input(typr='text', name='confirmPassword', placeholder='Verify New Password')
        input(type='submit', name='changePass', value='Change Password')
